@{
    ViewData["Title"] = "Home Page";
}

<form action="/api/xpath">
    <textarea name="query" style="width:400px; height: 200px;"></textarea><br />
    <input type="submit" value="Submit" />
</form>
